<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @job.job_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @job.duration %>
</p>

<p>
  <strong>Stops:</strong>
  <%= @job.stops %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @job.pay %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
